@page "/countries/details/{CountryId:int}"


@if (country is null)
{
    <Loading />
}
else
{
    <h3>@country.Name</h3>

    <div class="mb-2">
        <a class="btn btn-sm btn-primary" href="/states/create/@country.Id">Nuevo Departamento</a>
        <a class="btn btn-sm btn-success" href="/countries">Regresar</a>
    </div>

    <h4>Departamentos</h4>

    <GenericList MyList="country.States!.ToList()">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Ciudades</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var state in country.States!)
                    {
                        <tr>
                            <td>@state.Name</td>
                            <td>@state.CitiesNumber</td>
                            <td>
                                @*Insertamos dos botones el de editar como un link porque nos debe de llevar a otra pagina y el de Borrar como boton porque solo tiene que ejecutar un comando*@
                                <a class="btn btn-info btn-sm" href="/states/details/@state.Id">Detalles</a>
                                <a href="/states/edit/@state.Id" class="btn btn-warning btn-sm">Editar</a>
                                <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(state))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>

}