@page "/states/details/{StateId:int}"


@if (state is null)
{
    <Loading />
}
else
{
    <h3>@state.Name</h3>

    <div class="mb-2">
        <a class="btn btn-sm btn-primary" href="/cities/create/@state.Id">Nueva Ciudad</a>
        <a class="btn btn-sm btn-success" href="/countries/details/@state.CountryId">Regresar</a>
    </div>

    <h4>Ciudades</h4>

    <GenericList MyList="LCities">
        <Body>
            <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar ciudad..." @bind-value="Filter" />
                <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ciudad</th>
                        <th style="width:140px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in LCities!)
                    {
                        <tr>
                            <td>@city.Name</td>
                            <td>
                                @*Insertamos dos botones el de editar como un link porque nos debe de llevar a otra pagina y el de Borrar como boton porque solo tiene que ejecutar un comando*@
                                <a href="/cities/edit/@city.Id" class="btn btn-warning btn-sm">Editar</a>
                                <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(city))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync" />
        </Body>
    </GenericList>

}